<div class='container'>
  <h2>Edit this Contact:</h2>
  <div class='entry'>
    <form class='form z-depth-5 black-text' (submit) = 'updateContact(id)'>
      <label>Name: <input type="text" name="updatecontact.name" minlength='2'[(ngModel)]="updatecontact.name" #name="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="name.errors">{{ name.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!name.errors"> <i class='material-icons left'>verified_user</i></h6>
      <label>Street Address: <input type="text" name="updatecontact.streetaddr" required minlength='5'[(ngModel)]="updatecontact.streetaddr" #streetaddr="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="streetaddr.errors">{{ streetaddr.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!streetaddr.errors"> <i class='material-icons left'>verified_user</i></h6>
      <label>City/Locality: <input type="text" name="updatecontact.city" required minlength='5'[(ngModel)]="updatecontact.city" #city="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="city.errors">{{ city.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!city.errors"> <i class='material-icons left'>verified_user</i></h6>
      <label>State: <input type="text" name="updatecontact.state" minlength='2' maxlength='2' [(ngModel)]="updatecontact.state" #state="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="state.errors">{{ state.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!state.errors"> <i class='material-icons left'>verified_user</i></h6>
      <label>Postal Code: <input type="text" name="updatecontact.postalcode" required minlength='3'[(ngModel)]="updatecontact.postalcode" #postalcode="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="postalcode.errors">{{ postalcode.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!postalcode.errors"> <i class='material-icons left'>verified_user</i></h6>
      <label>Country: <input type="text" name="updatecontact.country" required minlength='3'[(ngModel)]="updatecontact.country" #country="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="country.errors">{{ country.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!country.errors"> <i class='material-icons left'>verified_user</i></h6>   
      <label>Mister Date of Birth: <input type="date" name="updatecontact.mrdob" minlength='3'[(ngModel)]="updatecontact.mrdob" #mrdob="ngModel"/></label> 
      <label>Misses Date of Birth: <input type="date" name="updatecontact.msdob" minlength='3'[(ngModel)]="updatecontact.msdob" #msdob="ngModel"/></label> 
      <label>Anniversary Date: <input type="date" name="updatecontact.anidate" minlength='3'[(ngModel)]="updatecontact.anidate" #anidate="ngModel"/></label> 
      <div class='nav'>
        <h3 *ngIf='!name.errors'>
          <h3 *ngIf='!streetaddr.errors'>
            <h3 *ngIf='!city.errors'>
              <h3 *ngIf='!state.errors'>
                <h3 *ngIf='!postalcode.errors'>
                  <h3 *ngIf='!country.errors'>
                      <button class='btn waves-effect white-text' type='submit' name='action'>Submit<i class='material-icons right'>send</i></button>
                  </h3>
                </h3>
              </h3>
            </h3>
          </h3>
        </h3>
        <button class='btn red waves-effect white-text' [routerLink]="['/home/list/contacts']">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class='error' *ngFor='let e of message'>
    {{e}}
</div>