.error{
    color: red;
    font-weight: bold;
    font-size: 14pt;
}
label{
    display: inline-block;
    width: 640px;
    color: black;
}
input{
    display: block;
    width: 640px;
    color: black;
}
.btn{
    border-radius: 10px;
    width: 200px;
}
h3{
    font-size: 12pt;
}
.form{
    background-color: lightgrey;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 10px;
    color: black;
    width: 1150px;
    margin-right: -30px;
    margin-left: -188px;
}
h2{
    font-size: 24pt;
}
.container{
    margin-top: 0px;
    height: 700px;
}