<h3>Login</h3>
<div class='form'>
  <form (submit) = 'loginUser()'>
    <label>E-Mail: <input type="email" name="newuser.email" required minlength='8'[(ngModel)]="newuser.email" #email="ngModel"/></label> {{ email.errors | json }} 
    <label>Password: <input type="password" name="newuser.password" required minlength='8'[(ngModel)]="newuser.password" #password="ngModel"/></label> {{ password.errors | json }}   
    <h3 *ngIf="!email.errors">
      <h3 *ngIf="!password.errors">
        <input type='submit' value='Submit'/>
      </h3> 
    </h3> 
    <button [routerLink]="['/home/welcome']">Cancel</button>
  </form>
</div>
<div *ngFor='let e of message'>
  {{e}}
</div>