<div class='container'>
  <div class='results z-depth-5'>  
    <table class='striped centered z-depth-5'>
      <thead>
        <tr>
            <th>Name</th>
            <th>Address Status</th>
            <th>Contact Actions</th>
            <th>Special Features</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let c of dcontacts;let i = index'>
          <td>{{c.name}}</td>
          <td>{{c.status}}</td>
          <td>
            <button class='btn blue waves-effect white-text' [routerLink]="['/home/list/edit', c.id]">Edit<i class='material-icons right'>build</i></button>
            <button class='btn blue waves-effect white-text' (click)='destroyUser(c.id)'>Delete<i class='material-icons right'>delete_forever</i></button>
          </td>
          <td>
              <button class='btn blue waves-effect white-text' [routerLink]="['/home/tracking', c.id]">Card Sent/Received<i class='material-icons right'>track_changes</i></button>
              <button *ngIf='c.usflag' class='btn blue waves-effect white-text' [routerLink]="['/home/list/label', c.id]">Print Labels<i class='material-icons right'>print</i></button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class='error' *ngFor='let e of message'>
  {{e}}
</div>