<div class='container'>
  <h2>Register</h2>
  <div class='form z-depth-5 black-text'>
    <form (submit) = 'registerUser()'>
      <label>Name: <input type="text" name="newuser.name" required minlength='5'[(ngModel)]="newuser.name" #name="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="name.errors">{{ name.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!name.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <label>Street Address: <input type="text" name="newuser.street_addr" required minlength='5'[(ngModel)]="newuser.street_addr" #street_addr="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="street_addr.errors">{{ street_addr.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!street_addr.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <label>City: <input type="text" name="newuser.city" required minlength='5'[(ngModel)]="newuser.city" #city="ngModel"/></label>   
      <h6 class='errorchk' *ngIf="city.errors">{{ city.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!city.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <label>State: <input type="text" name="newuser.state" required minlength='2' maxlength='2' [(ngModel)]="newuser.state" #state="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="state.errors">{{ state.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!state.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <label>Postal Code: <input type="text" name="newuser.postal_code" required minlength='5'[(ngModel)]="newuser.postal_code" #postal_code="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="postal_code.errors">{{ postal_code.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!postal_code.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <label>Country: <input type="text" name="newuser.conuntry" required minlength='3'[(ngModel)]="newuser.country" #country="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="country.errors">{{ country.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!country.errors"> <i class='material-icons left'>verified_user</i></h6> 
      
      <label>E-Mail: <input type="email" name="newuser.email" required minlength='8'[(ngModel)]="newuser.email" #email="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="email.errors">{{ email.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!email.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <label>Password: <input type="password" name="newuser.password" required minlength='8'[(ngModel)]="newuser.password" #password="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="password.errors">{{ password.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!password.errors"> <i class='material-icons left'>verified_user</i></h6>  
      
      <label>Password Confirmation: <input type="password" name="newuser.pass_conf" required minlength='8'[(ngModel)]="newuser.pass_conf" #pass_conf="ngModel"/></label> 
      <h6 class='errorchk' *ngIf="pass_conf.errors">{{ pass_conf.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
      <h6 class='goodchk' *ngIf="!pass_conf.errors"> <i class='material-icons left'>verified_user</i></h6>
      
      <div class='btns'>
        <h3 *ngIf="!name.errors">
          <h3 *ngIf="!street_addr.errors">
            <h3 *ngIf="!city.errors">
              <h3 *ngIf="!state.errors">
                <h3 *ngIf="!postal_code.errors">
                  <h3 *ngIf="!country.errors">
                    <h3 *ngIf="!email.errors">
                      <h3 *ngIf="!password.errors">
                        <h3 *ngIf="!pass_conf.errors">
                          <button class='btn waves-effect white-text' type='submit' name='action'>Submit<i class='material-icons right'>send</i></button>
                        </h3>
                      </h3> 
                    </h3> 
                  </h3>
                </h3> 
              </h3> 
            </h3> 
          </h3> 
        </h3> 
        <button class='cancel red pulse white-text' [routerLink]="['/home/welcome']">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class='error' *ngFor='let e of message'>
  {{e}}
</div>