<div class='container'>
  <h2>Register</h2>
  <div class='form z-depth-5 black-text'>
    <form (submit) = 'registerUser()'>
      <label>Name: <input type="text" name="newuser.name" required minlength='5'[(ngModel)]="newuser.name" #name="ngModel"/></label> {{ name.errors | json }}
      <label>Street Address: <input type="text" name="newuser.street_addr" required minlength='5'[(ngModel)]="newuser.street_addr" #street_addr="ngModel"/></label> {{ street_addr.errors | json }} 
      <label>City: <input type="text" name="newuser.city" required minlength='5'[(ngModel)]="newuser.city" #city="ngModel"/></label> {{ city.errors | json }}  
      <label>State: <input type="text" name="newuser.state" required minlength='2' maxlength='2' [(ngModel)]="newuser.state" #state="ngModel"/></label> {{ state.errors | json }} 
      <label>Postal Code: <input type="text" name="newuser.postal_code" required minlength='5'[(ngModel)]="newuser.postal_code" #postal_code="ngModel"/></label> {{ postal_code.errors | json }}
      <label>Country: <input type="text" name="newuser.conuntry" required minlength='3'[(ngModel)]="newuser.country" #country="ngModel"/></label> {{ country.errors | json }}    
      <label>E-Mail: <input type="email" name="newuser.email" required minlength='8'[(ngModel)]="newuser.email" #email="ngModel"/></label> {{ email.errors | json }} 
      <label>Password: <input type="password" name="newuser.password" required minlength='8'[(ngModel)]="newuser.password" #password="ngModel"/></label> {{ password.errors | json }}   
      <label>Password Confirmation: <input type="password" name="newuser.pass_conf" required minlength='8'[(ngModel)]="newuser.pass_conf" #pass_conf="ngModel"/></label> {{ pass_conf.errors | json }}  
      <div class='btns'>
        <h3 *ngIf="!name.errors">
          <h3 *ngIf="!street_addr.errors">
            <h3 *ngIf="!city.errors">
              <h3 *ngIf="!state.errors">
                <h3 *ngIf="!postal_code.errors">
                  <h3 *ngIf="!country.errors">
                    <h3 *ngIf="!email.errors">
                      <h3 *ngIf="!password.errors">
                        <h3 *ngIf="!pass_conf.errors">
                          <button class='btn waves-effect white-text' type='submit' name='action'>Submit<i class='material-icons right'>send</i></button>
                          <!-- <input  class='sub green pulse white-text' type='submit' value='Submit'/> -->
                        </h3>
                      </h3> 
                    </h3> 
                  </h3>
                </h3> 
              </h3> 
            </h3> 
          </h3> 
        </h3> 
        <button class='cancel red pulse white-text' [routerLink]="['/home/welcome']">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class='error' *ngFor='let e of message'>
  {{e}}
</div>