<div class='container'>
  <div class='contact col s6'>
    <div class='info z-depth-5'>
      <h1>{{contact.name}}</h1>
      <h3>{{contact.streetaddr}}</h3>
      <h3>{{contact.city}}</h3>
      <h3>{{contact.state}}</h3>
      <h3>{{contact.postalcode}}</h3>
      <h3>{{contact.country}}</h3>
      <h3>Address status: {{contact.status}}</h3>
    </div>
    <div class='results z-depth-5'>
      <table class='striped centered z-depth-5'>
        <tbody>
          <tr *ngFor='let t of tracking;let i = index'>
              <td>{{t.status}}</td>
              <td>{{t.date | date: "longDate"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='bday col s6'>
    <div class='entry z-depth-5'>
      <form (submit) = 'addBdtrack(id)'>
        <label>Tracking Status: </label>
          <select class='browser-default' name='bdinfo.status' required [(ngModel)]="bdinfo.status" #status="ngModel"> 
              <option value="sent">Sent</option>
              <option value="received">Received</option>
          </select> 
        <h6 class='errorchk' *ngIf="status.errors">{{ status.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
        <h6 class='goodchk' *ngIf="!status.errors"> <i class='material-icons left'>verified_user</i></h6>
        <label>Tracking Date: <input type="date" name="bdinfo.trkdate" required [(ngModel)]="bdinfo.trkdate" #trkdate="ngModel"/></label> 
        <h6 class='errorchk' *ngIf="trkdate.errors">{{ trkdate.errors | json }}<i class='material-icons left'>remove_circle</i></h6>
        <h6 class='goodchk' *ngIf="!trkdate.errors"> <i class='material-icons left'>verified_user</i></h6>
        <div class='nav'>
          <button class='btn green waves-effect white-text' type='submit' name='action'>Submit<i class='material-icons right'>send</i></button>
          <button class='cancel red pulse white-text' [routerLink]="['/home/tracking', id, 'addbd']">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class='error' *ngFor='let e of message'>
    {{e}}
</div>
